DTD/ex4.xml DTD 4.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE parts [
<!ELEMENT parts (part*)>
     <!ELEMENT part (name, catalog.number, thread?, type?, price.code, quantity)>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT catalog.number (#PCDATA)>
        <!ELEMENT thread (#PCDATA)>
        <!ELEMENT type (#PCDATA)>
        <!ELEMENT price.code (#PCDATA)>
        <!ELEMENT quantity (#PCDATA)>
]>
